@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

.container h1{
    text-align: center;
    margin-top: 2%;
}

.paper{
    margin-top: 2%;
    background-color: red;
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form #alyas{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 58%;
}

form textarea{
    border: none;
    border-style: none;
}